/* Estilos generales para el navbar */
.navbar {
    background-color: #b707ec; /* Un verde muy claro como fondo */
    border-bottom: 2px solid #004d40; /* Un verde más oscuro para el borde */
    padding: 3px 10px;
}

/* Estilo de los enlaces del navbar */
.navbar .nav-link {
    color: #0e0e0e; /* Un verde medio */
    transition: color 0.3s ease-in-out;
}

/* Cambio de color al pasar el mouse */
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #004d40; /* Un verde más oscuro */
    
}

/* Estilo de los dropdown menus */
.dropdown-menu {
    background-color: #f1e2f3; /* Un verde muy claro */
    border: 1px solid #004d40; /* Borde verde oscuro */
}

/* Estilo de los items del dropdown */
.dropdown-item {
    color: #00796b; /* Un verde medio */
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Cambio de color al pasar el mouse sobre los items */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #004d40; /* Un verde oscuro para el fondo */
    color: #ffffff; /* Texto en blanco */
    
}

/* Estilos generales para los botones */
.btn-primary {
    background-color: #02f8db; /* Un verde medio para el fondo */
    border: none;
    color: #ffffff; /* Texto en blanco */
    transition: background-color 0.3s ease-in-out;
}

/* Cambio de color al pasar el mouse sobre los botones */
.btn-primary:hover,
.btn-primary:focus {
    background-color: #000000; /* Un verde oscuro para el fondo */
}























/* Estilos para los modales */
.modal {
    display: none; /* Mantiene el modal oculto hasta que se activa */
    position: fixed; /* Fijo en la pantalla, no se mueve al hacer scroll */
    z-index: 1050; /* Asegura que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa todo el ancho */
    height: 100%; /* Ocupa todo el alto */
    overflow: auto; /* Permite hacer scroll dentro del modal si el contenido es muy largo */
    background-color: rgba(0,0,0,0.4); /* Fondo semitransparente para dar efecto de oscuridad */
}

/* Para centrar el contenido del modal y hacerlo más compacto */
.modal-content {
    background-color: #e6a8db; /* Fondo claro con tono verde */
    margin: 15% auto; /* Centra el modal verticalmente y horizontalmente */
    padding: 20px;
    border: 1px solid #e22272; /* Borde sutil */
    width: 80%; /* Ancho relativo al contenedor padre, ajustable según necesidad */
    max-width: 500px; /* Máximo ancho que puede tener */
    border-radius: 5px; /* Bordes redondeados para un look más suave */
}

.modal-contenido {
    background-color: #f3dfe9; /* Fondo blanco para un look limpio y profesional */
    border: 1px solid #ad3184; /* Un borde sutil para definir el contorno */
    border-radius: 5px; /* Bordes redondeados suaves */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para añadir profundidad */
    padding: 20px; /* Espacio interior para no saturar el contenido */
    width: auto; /* Ancho automático basado en el contenido */
    max-width: 500px; /* Un máximo ancho para asegurar que luzca bien en pantallas grandes */
    margin: auto; /* Margen automático para centrar vertical y horizontalmente */
    margin-top: 300px;
    display: flex; /* Utiliza flexbox para organizar el contenido */
    flex-direction: column; /* Orienta los hijos del modal verticalmente */
    justify-content: start; /* Alinea el contenido desde el principio */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    overflow: hidden; /* Esconde el contenido que se desborde del tamaño del modal */
}


.cerrar {
    color: #e6b;
    float: none;
    font-size: 30px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #e23cbe;
    text-decoration: none;
    cursor: pointer;
}


h1{
text-align: center;
}
